.navbar-service {
  background-color: white;
  width: 100%;
  color: rgb(30, 52, 207, 1);
  display: flex;
  align-items: center;
  font-size: 0.5rem;
}

.navbar-service ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar-service li {
  height: 2rem;
  margin: 0 2rem;
  display: flex;
  place-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-service {
    font-size: 1rem;
  }

  .navbar-service li {
    height: 3rem;
  }
}

@media (min-width: 1024px) {
  .navbar-service {
    font-size: 1.5rem;
  }
}
